In [13]:
import os
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [14]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [27]:
population.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [28]:
population_dict = {'Brooke': 38332521,
                   'Reggie': 26448193,
                   'Zion': 19651127,
                   'Jenni': 19552860,
                   'Jemma': 12882135}
population = pd.Series(population_dict)
population

Brooke    38332521
Reggie    26448193
Zion      19651127
Jenni     19552860
Jemma     12882135
dtype: int64

In [29]:
#rearrange dictionary 
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [18]:
#turn into a dataframe 
states = pd.DataFrame({'population': population,
                       'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [55]:
family=pd.Series({'brooke':0,
                  'reggie':1, 
                  'zion':2})
notfamily=pd.Series({'mom':9,
                     'dad':8,
                     'max':7})
df=pd.DataFrame(family)
df.head
df2=pd.DataFrame(notfamily)

In [20]:
username_dict={'age':1234,'height':3456,'weight':7887}
username=pd.Series(username_dict)
username

age       1234
height    3456
weight    7887
dtype: int64