In [17]:
import numpy as np
import pandas as pd

In [2]:
from pandas import Series,DataFrame

In [52]:
#manually create a series 
Series_obj = pd.Series(data = [1,2,3,4], index = ['A','B','C','D'])
Series_obj

A    1
B    2
C    3
D    4
dtype: int64

In [47]:
#manually create a dataframe 
pd.DataFrame(data = [1,2,3,4,5], index = ['A', 'B', 'C', 'D', 'E'])

   0
A  1
B  2
C  3
D  4
E  5

In [48]:
Series(np.arange(10))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [51]:
Series_obj[[0,1]]

A    1
B    2
dtype: int64

In [42]:
Series_obj[[0,3]]

row1    0
row4    3
dtype: int32

In [55]:
Series_obj[[1,2]]

B    2
C    3
dtype: int64

In [60]:
np.random.seed(5)
DF_obj=DataFrame(np.random.rand(36).reshape((6,6)))

In [61]:
DF_obj

          0         1         2         3         4         5
0  0.221993  0.870732  0.206719  0.918611  0.488411  0.611744
1  0.765908  0.518418  0.296801  0.187721  0.080741  0.738440
2  0.441309  0.158310  0.879937  0.274086  0.414235  0.296080
3  0.628788  0.579838  0.599929  0.265819  0.284686  0.253588
4  0.327564  0.144164  0.165613  0.963931  0.960227  0.188415
5  0.024307  0.204556  0.699844  0.779515  0.022933  0.577663